In [1]:
## Importing Libraries
import pandas as pd
import numpy as np
import zipfile

In [2]:
with zipfile.ZipFile(r'C:\Udacity\Udacity_term2_projects\Tableau_files\globalpowerplantdatabasev110.zip','r') as power_plant:
    power_plant.extractall()

In [3]:
pp_df = pd.read_csv('global_power_plant_database.csv')
pp_df.head()

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,fuel1,fuel2,fuel3,...,owner,source,url,geolocation_source,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,estimated_generation_gwh
0,AFG,Afghanistan,Kajaki Hydroelectric Power Plant Afghanistan,GEODB0040538,33.00,32.3220,65.1190,Hydro,NaN,NaN,...,NaN,GEODB,http://globalenergyobservatory.org,GEODB,2017.0,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,Mahipar Hydroelectric Power Plant Afghanistan,GEODB0040541,66.00,34.5560,69.4787,Hydro,NaN,NaN,...,NaN,GEODB,http://globalenergyobservatory.org,GEODB,2017.0,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Naghlu Dam Hydroelectric Power Plant Afghanistan,GEODB0040534,100.00,34.6410,69.7170,Hydro,NaN,NaN,...,NaN,GEODB,http://globalenergyobservatory.org,GEODB,2017.0,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,Nangarhar (Darunta) Hydroelectric Power Plant ...,GEODB0040536,11.55,34.4847,70.3633,Hydro,NaN,NaN,...,NaN,GEODB,http://globalenergyobservatory.org,GEODB,2017.0,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,Northwest Kabul Power Plant Afghanistan,GEODB0040540,42.00,34.5638,69.1134,Gas,NaN,NaN,...,NaN,GEODB,http://globalenergyobservatory.org,GEODB,2017.0,NaN,NaN,NaN,NaN,NaN

In [4]:
pp_df.query("country_long == 'India'")['capacity_mw'].sum()

273030.131

In [5]:
for index,col in enumerate(pp_df.columns):
    print(index,col)

0 country
1 country_long
2 name
3 gppd_idnr
4 capacity_mw
5 latitude
6 longitude
7 fuel1
8 fuel2
9 fuel3
10 fuel4
11 commissioning_year
12 owner
13 source
14 url
15 geolocation_source
16 year_of_capacity_data
17 generation_gwh_2013
18 generation_gwh_2014
19 generation_gwh_2015
20 generation_gwh_2016
21 estimated_generation_gwh

In [6]:
print("Total Observation in pp_df",pp_df.shape)

Total Observation in pp_df (28664, 22)

In [7]:
pp_df.dtypes

country                      object
country_long                 object
name                         object
gppd_idnr                    object
capacity_mw                 float64
latitude                    float64
longitude                   float64
fuel1                        object
fuel2                        object
fuel3                        object
fuel4                        object
commissioning_year          float64
owner                        object
source                       object
url                          object
geolocation_source           object
year_of_capacity_data       float64
generation_gwh_2013         float64
generation_gwh_2014         float64
generation_gwh_2015         float64
generation_gwh_2016         float64
estimated_generation_gwh    float64
dtype: object

In [8]:
total = pp_df.isnull().sum().sort_values(ascending = False)
percent = (pp_df.isnull().sum() / pp_df.shape[0]).sort_values(ascending = False)
pd.concat([total,percent],axis = 1,keys = ['total','percent'])

                          total   percent
fuel4                     28556  0.996232
fuel3                     28368  0.989673
generation_gwh_2013       28225  0.984685
generation_gwh_2014       28209  0.984126
generation_gwh_2015       27706  0.966578
fuel2                     26959  0.940518
generation_gwh_2016       20338  0.709531
commissioning_year        13712  0.478370
year_of_capacity_data     12519  0.436750
owner                     10571  0.368790
estimated_generation_gwh   1128  0.039352
geolocation_source          421  0.014687
name                         20  0.000698
fuel1                         3  0.000105
source                        0  0.000000
url                           0  0.000000
longitude                     0  0.000000
latitude                      0  0.000000
capacity_mw                   0  0.000000
gppd_idnr                     0  0.000000
country_long                  0  0.000000
country                       0  0.000000

In [9]:
pp_df.groupby('country_long').sum()['generation_gwh_2016']

country_long
Afghanistan                 0.000000e+00
Albania                     0.000000e+00
Algeria                     0.000000e+00
Angola                      0.000000e+00
Antarctica                  0.000000e+00
Argentina                   0.000000e+00
Armenia                     0.000000e+00
Australia                   0.000000e+00
Austria                     2.473210e+02
Azerbaijan                  0.000000e+00
Bahrain                     0.000000e+00
Bangladesh                  0.000000e+00
Belarus                     0.000000e+00
Belgium                     0.000000e+00
Benin                       0.000000e+00
Bhutan                      0.000000e+00
Bolivia                     0.000000e+00
Bosnia and Herzegovina      0.000000e+00
Botswana                    0.000000e+00
Brazil                      0.000000e+00
Brunei Darussalam           0.000000e+00
Bulgaria                    0.000000e+00
Burkina Faso                0.000000e+00
Burundi                     0.000000e+00
Cambodia                    0.000000e+00
Cameroon                    0.000000e+00
Canada                      0.000000e+00
Cape Verde                  0.000000e+00
Central African Republic    0.000000e+00
Chile                       0.000000e+00
                                ...
South Korea                 0.000000e+00
Spain                       0.000000e+00
Sri Lanka                   0.000000e+00
Sudan                       0.000000e+00
Swaziland                   0.000000e+00
Sweden                      0.000000e+00
Switzerland                 0.000000e+00
Syrian Arab Republic        0.000000e+00
Taiwan                      0.000000e+00
Tajikistan                  0.000000e+00
Tanzania                    0.000000e+00
Thailand                    0.000000e+00
Togo                        0.000000e+00
Trinidad and Tobago         0.000000e+00
Tunisia                     0.000000e+00
Turkey                      0.000000e+00
Turkmenistan                0.000000e+00
Uganda                      0.000000e+00
Ukraine                     0.000000e+00
United Arab Emirates        0.000000e+00
United Kingdom              0.000000e+00
United States of America    4.066391e+06
Uruguay                     0.000000e+00
Uzbekistan                  0.000000e+00
Venezuela                   0.000000e+00
Vietnam                     6.677512e+04
Western Sahara              0.000000e+00
Yemen                       0.000000e+00
Zambia                      0.000000e+00
Zimbabwe                    0.000000e+00
Name: generation_gwh_2016, Length: 164, dtype: float64

In [10]:
pp_df.loc[:,['generation_gwh_2013','generation_gwh_2014','generation_gwh_2015','generation_gwh_2016']].isnull().sum()

generation_gwh_2013    28225
generation_gwh_2014    28209
generation_gwh_2015    27706
generation_gwh_2016    20338
dtype: int64

In [11]:
pp_df.describe()

,capacity_mw,latitude,longitude,commissioning_year,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,estimated_generation_gwh
count,28664.000000,28664.000000,2.866400e+04,14952.000000,16145.000000,439.000000,455.000000,958.000000,8326.000000,27536.000000
mean,186.097600,68.817502,9.925621e+01,1994.698521,2016.035367,2339.270238,2622.049124,1859.660249,532.668481,807.796919
std,523.027253,3610.172087,1.092781e+04,23.406231,1.258145,4384.011370,4138.194312,3965.618811,1935.490760,2687.873796
min,1.000000,-77.847000,-1.799777e+02,1896.000000,2000.000000,0.000000,0.000000,0.000000,-768.620000,0.000000
25%,4.795850,28.010225,-7.905748e+01,1985.000000,2016.000000,226.735625,253.466300,57.898941,3.197500,8.099628
50%,18.640000,39.950000,-3.928400e+00,2004.000000,2016.000000,731.334950,1015.676100,468.989500,20.354000,44.796959
75%,99.200000,46.980275,2.100702e+01,2012.000000,2016.000000,2636.217675,3170.871000,2152.211500,176.508999,293.907237
max,22500.000000,415750.000000,1.075744e+06,2018.000000,2018.000000,50834.000000,28127.000000,59546.865000,32377.477000,92268.763466

## `Quality`

1. country column has abbreviated names of countries.
2. fuel2, fuel3 ,fuel4 has null values more than 90%.

## `Tidiness`

1. melt columns generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016
.

In [12]:
pp_df_copy = pp_df.copy()

## `Define`

- melt columns generation_gwh_2013, generation_gwh_2014, generation_gwh_2015, generation_gwh_2016.

## Code

In [13]:
pp_df_copy.columns

Index(['country', 'country_long', 'name', 'gppd_idnr', 'capacity_mw',
       'latitude', 'longitude', 'fuel1', 'fuel2', 'fuel3', 'fuel4',
       'commissioning_year', 'owner', 'source', 'url', 'geolocation_source',
       'year_of_capacity_data', 'generation_gwh_2013', 'generation_gwh_2014',
       'generation_gwh_2015', 'generation_gwh_2016',
       'estimated_generation_gwh'],
      dtype='object')

In [14]:
col_list  = ['country','country_long','name', 'gppd_idnr', 'capacity_mw',
       'latitude', 'longitude', 'fuel1', 'fuel2', 'fuel3', 'fuel4',
       'commissioning_year', 'owner', 'source', 'url', 'geolocation_source',
       'year_of_capacity_data','estimated_generation_gwh']

In [15]:
pp_df_copy = pd.melt(pp_df_copy,id_vars = col_list,value_vars = ['generation_gwh_2013','generation_gwh_2014','generation_gwh_2015','generation_gwh_2016'],
                   var_name = 'generation_year',value_name = 'generation_gwh')

## Test

In [16]:
pp_df_copy.loc[:,['generation_year','generation_gwh']].sample(5)

           generation_year  generation_gwh
95785  generation_gwh_2016             NaN
77864  generation_gwh_2015             NaN
18279  generation_gwh_2013             NaN
53069  generation_gwh_2014             NaN
29065  generation_gwh_2014             NaN

## `Define`

- country column has abbreviated names of countries.
- fuel2 ,fuel3, fuel4 has null values greater than 90%.A thumb rule of keeping

## `Code`

In [17]:
pp_df_copy.drop(labels = ['country','fuel2','fuel3','fuel4'],axis = 1,inplace = True)

## `Test`

In [18]:
pp_df_copy.columns

Index(['country_long', 'name', 'gppd_idnr', 'capacity_mw', 'latitude',
       'longitude', 'fuel1', 'commissioning_year', 'owner', 'source', 'url',
       'geolocation_source', 'year_of_capacity_data',
       'estimated_generation_gwh', 'generation_year', 'generation_gwh'],
      dtype='object')

## `Define`
- After melting I created generation_year column which actually has a text with a year.
- Split the text on '-' and get a year from it.

## `Code`

In [19]:
pp_df_copy['generation_year'] = pp_df_copy['generation_year'].apply(lambda x: x.split('_')[-1]).astype('int')

## `Test`

In [20]:
pp_df_copy['generation_year'].sample(10)

100040    2016
28712     2014
27190     2013
75093     2015
84046     2015
47569     2014
27627     2013
84095     2015
15963     2013
653       2013
Name: generation_year, dtype: int32

In [21]:
pp_df_copy['generation_gwh'].isnull().sum() / pp_df_copy.shape[0]

0.9112301144292493

## `Define`

- generation_gwh has 91% null values.
- drop null values using dropna

## `Code`

In [27]:
pp_df_copy.dropna(subset = ['generation_gwh'],inplace = True)

## `Test`

In [47]:
pp_df_copy['generation_gwh'].isnull().sum()

0

In [87]:
pp_df_copy.to_csv('global_power_plant.csv',index = False)